<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer th:fragment="copy">
  <div class="footer_container">
    <div class="footer_inner">
      <a href="#" class="footer_link">도서관소개</a>
      <a href="#" class="footer_link">도서관이용안내</a>
      <a href="#" class="footer_link">공지사항</a>
      <a href="#" class="footer_link">개인정보처리방침</a>
    </div>
    <div class="footer_copyrihgt">
      &copy;COPYRIGHT
    </div>
  </div>
</footer>

</body>
</html>