<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head th:fragment="copy (title, link)">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}">제목</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <th:block th:replace="${link}"/>
</head>
<body>

</body>
</html>