<!DOCTYPE html>
<html lang="ko" th:replace="~{template/layout/layout :: layout(~{::title},~{::script},~{::main})}"
      xmlns:th="http://thymeleaf.org">
<head>
  <title>상상도서관 :: 마이메뉴 :: 도서등록하기</title>
  <script th:src="@{/js/bookRegister.js}"></script>
</head>
<body>
  <main>
    <div th:replace="~{template/fragment/aside :: copy('마이메뉴',${myMenuList})}">
    </div>
    <div class="book_register_container">
      <h2 class="book_register_title">도서 등록하기</h2>
      <form  th:action method="post" enctype="multipart/form-data" th:object="${book}">
        <input type="hidden" id="fileIndexTemp" name="fileIndexTemp" th:value="${fileIndexTemp}">
        <div th:if="${#lists.isEmpty( fileList )}" class="book_register_form" id="book_register_form">
          <div class="book_register_form_container">
            <label for="file_0" class="book_register_label">도서 사진 :</label>
            <input type="text" id="book_register_text0"class="book_register_file_text" readonly name="fileName">
            <label for="file_0" class="book_register_file_btn">파일추가</label>
            <input type="file" id="file_0" name="file" class="book_register_file" onchange="fileNameChange(this)">
            <button type="button" class="book_register_file_add_btn" onclick="fileRowAdd(this)">+</button>
          </div>
        </div>
        <div class="field-error" th:errors="*{file}"></div>
        <div th:unless="${#lists.isEmpty( fileList )}" class="book_register_form" id="book_register_form">
          <th:block th:unless="${#lists.isEmpty(fileList)}" th:each="row, status :${fileList}">
            <div class="book_register_form_container">
              <label th:unless="${status.index}" th:for="|file_${status.index}|" class="book_register_label">도서 사진 :</label>
              <input th:classappend="${status.index} != 0 ? plus_file" type="text" th:id="|book_register_text${status.index}|"class="book_register_file_text" readonly th:value="${row.getOriginalFilename}" name="fileName">
              <label th:for="|file_${status.index}|" class="book_register_file_btn">파일추가</label>
              <input type="file" th:id="|file_${status.index}|" name="file" class="book_register_file" onchange="fileNameChange(this)">
              <button type="button" class="book_register_file_add_btn" onclick="fileRowAdd(this)">+</button>
              <button th:if="${status.index}"type="button" class="book_register_file_add_btn" onclick="fileRowMinus(this)">-</button>
            </div>
          </th:block>
        </div>
          <div class="book_register_form_container">
            <label for="book_register_name" class="book_register_label">도서 이름 :</label>
            <input type="text" id="book_register_name" class="book_register_text" name="bookName" th:field="*{bookName}">
            <div class="field-error" th:errors="*{bookName}"></div>
          </div>
          <div class="book_register_form_container">
            <label for="book_register_publisher" class="book_register_label">출판사 :</label>
            <input type="text" id="book_register_publisher" class="book_register_text" name="bookPublisher" th:field="*{bookPublisher}">
            <div class="field-error" th:errors="*{bookPublisher}"></div>
          </div>
          <div class="book_register_form_container">
            <label for="book_register_author" class="book_register_label">지은이 :</label>
            <input type="text" id="book_register_author" class="book_register_text" name="bookAuthor" th:field="*{bookAuthor}">
            <div class="field-error" th:errors="*{bookAuthor}"></div>
          </div>
          <div class="book_register_form_container">
            <label class="book_register_label">장르 :</label>
            <select  class="book_register_genre" name="bookGenre" th:field="*{bookGenre}">
              <option value="소설">소설</option>
              <option value="IT">IT</option>
              <option value="역사">역사</option>
              <option value="육아">육아</option>
            </select>
            <div class="field-error" th:errors="*{bookGenre}"></div>
          </div>
          <div class="book_register_form_container">
            <label class="book_register_label" for="book_register_count"> 도서개수:</label>
            <input type="text" id="book_register_count" class="book_register_text" name="bookCount" th:field="*{bookCount}">
            <div class="field-error" th:errors="*{bookCount}"></div>
          </div>
          <div class="book_register_btn_container">
            <button type="submit" class="book_register_btn">등록</button>
            <button type="reset" class="book_register_btn">취소</button>
          </div>
        </div>
      </form>
    </div>
  </main>
</body>
</html>