<!DOCTYPE html>
<html lang="ko" th:replace="~{template/layout/layout :: layout(~{::title},~{::link},~{::main})}"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>상상도서관 :: 로그인</title>
    <link>
</head>
<body>
    <main>
        <form action="login" th:method="post" th:object="${member}" id="form">
            <div class="login_text_container">
                <h2 class="login_title">로그인</h2>
                <div class="login_id_container">
                    <label for="id_box" class="login_id_text">아이디:</label>
                    <input type="text" id="id_box" class="login_box id" placeholder="아이디를 입력해주세요." th:field="*{id}">
                </div>
                <div class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
                <div class="field-error" th:errors="*{id}"></div>
                <div class="login_pw_container">
                    <label for="pw_box" class="login_pw_label">비밀번호:</label>
                    <input type="password" id="pw_box" class="login_box" placeholder="비밀번호를 입력해주세요." th:field="*{pw}">
                </div>
                <div class="field-error" th:errors="*{pw}"></div>
                <a href="#" class="login_page_link" onclick="document.getElementById('form').submit();">로그인</a>
                <div class="login_id_pw_search">
                    <a href="#" class="login_id_pw_link">아이디 찾기</a>
                    <a href="#" class="login_id_pw_link">비밀번호 찾기</a>
                </div>
            </div>
        </form>
    </main>
</body>
</html>
