<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>도서관</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrap">
  <header>
    <div class="header_container">
      <h1 class="header_title">
        <a href="#" class="header_link"></a>
      </h1>
      <div class="login_container">
        <a href="#" class="login_link">로그인</a>
        <a href="#" class="login_link">회원가입</a>
      </div>
    </div>
  </header>
  <nav>
    <div class="nav_container">
      <label class="nav_label">
        <!-- 버튼 hover 시 button 태그에 active 클래스를 추가-->
        <button type="button" class="nav_btn active">도서정보</button>
        <div class="book_info_items">
          <a class="book_info_item">전체보기</a>
          <a class="book_info_item">IT</a>
          <a class="book_info_item">역사</a>
          <a class="book_info_item">육아</a>
          <a class="book_info_item">소설</a>
        </div>
      </label>
      <label class="nav_label">
        <button type="button" class="nav_btn">도서이용</button>
      </label>
      <label class="nav_label">
        <button type="button" class="nav_btn">도서관소식</button>
      </label>
      <label class="nav_label">
        <button type="button" class="nav_btn">마이메뉴</button>
      </label>
    </div>
  </nav>
  <section>
    <div class="book_search_box_container">
      <h2 class="section_book_title">책검색</h2>
      <div class="book_input_container">
        <input type="text" class="book_search_box">
      </div>
    </div>
  </section>
  <section>
    <div class="popular_new_container">
      <div class="popular_container">
        <h2 class="section_title">주간인기도서</h2>
        <!--주간인기도서 이미지-->
      </div>
      <div class="new_book_container">
        <h2 class="section_title">신규도서</h2>
        <!--신규도서 이미지-->
      </div>
    </div>
  </section>
  <section>
    <div class="info_faq_container">
      <div class="info_container">
        <h2 class="section_title">공지사항</h2>
        <ul class="info_items">
          <li class="info_item"></li>
        </ul>
      </div>
      <div class="faq_container">
        <h2 class="section_title">FAQ</h2>
        <div class="faq_items">
          <a href="#" class="faq_item">도서관을 자주 다니는 주부입니다.아동이나 주부들을 위한 문화교실이 있나요?</a>
          <a href="#" class="faq_item">도서관에서 대출한 자료를 연기하려면 어떻게 해야 하나요?</a>
          <a href="#" class="faq_item">도서관에 소장되어 있는 자료를 예약하고 싶은데 어떻게 하나요?</a>
          <a href="#" class="faq_item">공부를 하는 수험생입니다.공부할 수 있는 열람실은 몇시부터 몇시까지 합니까?</a>
        </div>
      </div>
  </section>
  <section>
    <div class="week_overdue_container">
      <h2 class="section_title">주간대여왕 &amp; 연체왕</h2>
      <div class="week_rent_top_container">
        <div class="week_rent_top_name">닉네임:</div>
        <div class="week_rent_total">주간대여수 : </div>
      </div>
      <div class="overdue_top_container">
        <div class="overdue_top_name">닉네임:</div>
        <div class="overdue_total">연체일수 : </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer_container">
      <div class="footer_inner">
        <a href="#" class="footer_link">도서관소개</a>
        <a href="#" class="footer_link">도서관이용안내</a>
        <a href="#" class="footer_link">공지사항</a>
        <a href="#" class="footer_link">개인정보처리방침</a>
      </div>
      <div class="footer_copyrihgt">
        &copy;COPYRIGHT
      </div>
    </div>
  </footer>
</div>
</body>
</html>