<!DOCTYPE html>
<html lang="ko" th:replace="~{template/layout/layout :: layout(~{::title},~{::link},~{::main})}"
      xmlns:th="http://thymeleaf.org">
<head>
  <title>상상도서관</title>
  <link>
</head>
<body>
  <main>
    <section>
      <div class="book_search_box_container">
        <h2 class="section_book_title">책검색</h2>
        <div class="book_input_container">
          <input type="text" class="book_search_box">
        </div>
      </div>
    </section>
    <section>
      <div class="popular_new_container">
        <div class="popular_container">
          <h2 class="section_title">주간인기도서</h2>
          <!--주간인기도서 이미지-->
        </div>
        <div class="new_book_container">
          <h2 class="section_title">신규도서</h2>
          <!--신규도서 이미지-->
        </div>
      </div>
    </section>
    <section>
      <div class="info_faq_container">
        <div class="info_container">
          <h2 class="section_title">공지사항</h2>
          <ul class="info_items">
            <li class="info_item"></li>
          </ul>
        </div>
        <div class="faq_container">
          <h2 class="section_title">FAQ</h2>
          <div class="faq_items">
            <a href="#" class="faq_item">도서관을 자주 다니는 주부입니다.아동이나 주부들을 위한 문화교실이 있나요?</a>
            <a href="#" class="faq_item">도서관에서 대출한 자료를 연기하려면 어떻게 해야 하나요?</a>
            <a href="#" class="faq_item">도서관에 소장되어 있는 자료를 예약하고 싶은데 어떻게 하나요?</a>
            <a href="#" class="faq_item">공부를 하는 수험생입니다.공부할 수 있는 열람실은 몇시부터 몇시까지 합니까?</a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="week_overdue_container">
        <h2 class="section_title">주간대여왕 &amp; 연체왕</h2>
        <div class="week_rent_top_container">
          <div class="week_rent_top_name">닉네임:</div>
          <div class="week_rent_total">주간대여수 : </div>
        </div>
        <div class="overdue_top_container">
          <div class="overdue_top_name">닉네임:</div>
          <div class="overdue_total">연체일수 : </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>